.image-hover {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: opacity .2s;
	z-index: 2;

	&__icon {
		position: absolute;
		cursor: pointer;
		width: 30px;
		height: 30px;
	}

	&__close {
		top: 3px;
		right: 3px;
		fill: #e12c31;
	}
}